body{margin: 0%;}
.brams{
    background-image: url(Resources/others/nature.jpg);
    height: 100dvh;
    background-size: auto;
    
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.brams{
    color: rgb(255, 0, 242);
    font-size: 40px;
}
.nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: beige;
}
ul{
    list-style: none;
    overflow: auto;
    width: 25%;
}
li a{
    display: block;
    width: 60px;
    background-color: black;
}
a{
    color: yellow;
    text-decoration: none;
}